/* Material icon */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

/* Libraries */


/* Reset */

.zn-content.product,
.zn-content.collection,
.zn-content.cart,
.zn-content.not-found,
.zn-content.boxed {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
    box-sizing: content-box;
}


.zn-container::before,
.zn-content.collection::before {
    content: "";
    display: block;
    clear: both;
}

.zn-element-wrapper {
    line-height: 1;
}

.zn-element-wrapper h1,
.zn-element-wrapper h2,
.zn-element-wrapper h3,
.zn-element-wrapper h4,
.zn-element-wrapper h5,
.zn-element-wrapper h6,
.zn-element-wrapper p {
    margin: 0;
}

.zn-element-wrapper .medium-editor-list {
    list-style: disc;
    list-style-position: inside;
}

.zn-element-wrapper .zn-heading p,
.zn-element-wrapper .zn-text p {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
}

.page-container {
    transform: none;
}

/* Utilities */

.zn-noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 1026px) {

    .zn-md,
    .zn-sm {
        display: none;
    }

    .zn-off-lg {
        display: none;
    }
}

@media (min-width: 721px) and (max-width: 1025px) {
    .zn-sm {
        display: none;
    }

    .zn-hide-md {
        display: none;
    }

    .zn-off-md {
        display: none;
    }
}

@media (max-width: 720px) {
    .zn-hide-sm {
        display: none;
    }

    .zn-off-sm {
        display: none;
    }
}








#znid-103270168952 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-103270168952[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-103270168952[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-103270168952>.zn-element {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

#znid-103270168952>.zn-element>.zn-banner {
    box-sizing: border-box;
    background: url(https://images5.alphacoders.com/109/1099191.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    display: flex;
}

#znid-103270168952[data-effect="overlay"]>.zn-element>.zn-banner {
    background: linear-gradient(#33333364, #33333364), url(https://images5.alphacoders.com/109/1099191.jpg);
    background-size: cover;
    background-position: center center;
}

#znid-103270168952[data-effect="parallax"] .zn-banner {
    background-attachment: fixed;
}

#znid-103270168952[data-effect="none"]>.zn-element>.zn-banner {
    background-image: url(https://images5.alphacoders.com/109/1099191.jpg);
    background-attachment: initial;
}

#znid-103270168952>.zn-element>.zn-banner>.zn-children-container {
    flex-basis: 100%;
    padding: 180px 0px 180px 0px;
}




#znid-874135083211 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}

#znid-874135083211[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-874135083211[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-874135083211[data-background-type="color"] {
    background-color: ;
}

#znid-874135083211[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-874135083211 h2 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: Quicksand;
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-874135083211[data-text-shadow-enable="true"] h2 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-410016595323 {
    opacity: 1;
    margin: 24px 0px 0px 0px;
}

#znid-410016595323[data-shadow-enable="true"] button {
    box-shadow: 5px 5px 5px #333333;
}

#znid-410016595323 .zn-button {
    text-align: center;
}

#znid-410016595323 .zn-button button {
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    font-weight: bolder;
    background-color: #ffffff;
    cursor: pointer;
    outline: none !important;
    border: none;
    width: auto;
    height: auto;
    white-space: normal;
    padding: 12px 24px 12px 24px;
    overflow: hidden;
}

#znid-410016595323 .zn-button button:hover {
    color: #FFFFFF;
    background-color: #333333;
}

#znid-410016595323[data-full-width="true"] .zn-button button {
    width: 100%;
}

#znid-410016595323[data-full-width="false"] .zn-button button {
    width: auto;
}

#znid-410016595323[data-border-enable="true"] .zn-button button {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 5px;
}






#znid-818424013728 {
    opacity: 1;
    margin: 24px 0px 0px 0px;
}

#znid-818424013728[data-shadow-enable="true"] button {
    box-shadow: 5px 5px 5px #333333;
}

#znid-818424013728 .zn-button {
    text-align: center;
}

#znid-818424013728 .zn-button button {
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    font-weight: bolder;
    background-color: #ffffff;
    cursor: pointer;
    outline: none !important;
    border: none;
    width: auto;
    height: auto;
    white-space: normal;
    padding: 12px 24px 12px 24px;
    overflow: hidden;
}

#znid-818424013728 .zn-button button:hover {
    color: #FFFFFF;
    background-color: #333333;
}

#znid-818424013728[data-full-width="true"] .zn-button button {
    width: 100%;
}

#znid-818424013728[data-full-width="false"] .zn-button button {
    width: auto;
}

#znid-818424013728[data-border-enable="true"] .zn-button button {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 5px;
}






#znid-331354174901 {
    opacity: 1;
    margin: 24px 0px 0px 0px;
}

#znid-331354174901[data-shadow-enable="true"] button {
    box-shadow: 5px 5px 5px #333333;
}

#znid-331354174901 .zn-button {
    text-align: center;
}

#znid-331354174901 .zn-button button {
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    font-weight: bolder;
    background-color: #ffffff;
    cursor: pointer;
    outline: none !important;
    border: none;
    width: auto;
    height: auto;
    white-space: normal;
    padding: 12px 24px 12px 24px;
    overflow: hidden;
}

#znid-331354174901 .zn-button button:hover {
    color: #FFFFFF;
    background-color: #333333;
}

#znid-331354174901[data-full-width="true"] .zn-button button {
    width: 100%;
}

#znid-331354174901[data-full-width="false"] .zn-button button {
    width: auto;
}

#znid-331354174901[data-border-enable="true"] .zn-button button {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 5px;
}







#znid-527724051013 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-527724051013[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-527724051013[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}

#znid-527724051013[data-background-type="color"] {
    background-color: ;
}

#znid-527724051013[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-527724051013[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#znid-527724051013[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}

#znid-527724051013>.zn-element {
    text-align: center;
}

#znid-527724051013>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 120px;
}

#znid-527724051013[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}

#znid-527724051013[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}

#znid-527724051013[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}

#znid-527724051013 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}

#znid-527724051013>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 12px;
}

#znid-527724051013 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}

#znid-527724051013 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}

#znid-527724051013 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}

#znid-527724051013 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}

#znid-527724051013 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}

#znid-527724051013 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}

#znid-527724051013 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}

#znid-527724051013[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 12px / 2);
    margin-right: 0;
    flex-grow: 0;
}

#znid-527724051013 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}

#znid-527724051013 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}

#znid-527724051013 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}

#znid-527724051013 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}

#znid-527724051013 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}

@media (min-width: 721px) and (max-width: 1025px) {
    #znid-527724051013>.zn-element>.zn-row {
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;
    }

    #znid-527724051013 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-527724051013 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }

    #znid-527724051013 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }

    #znid-527724051013 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }

    #znid-527724051013 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }

    #znid-527724051013 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }

    #znid-527724051013 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }

    #znid-527724051013[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-527724051013 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }

    #znid-527724051013 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }

    #znid-527724051013 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }

    #znid-527724051013 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }

    #znid-527724051013 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}


@media (max-width: 720px) {
    #znid-527724051013>.zn-element>.zn-row {
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;
    }

    #znid-527724051013 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-527724051013 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }

    #znid-527724051013 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }

    #znid-527724051013 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }

    #znid-527724051013 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }

    #znid-527724051013 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }

    #znid-527724051013 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }

    #znid-527724051013[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-527724051013 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }

    #znid-527724051013 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }

    #znid-527724051013 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }

    #znid-527724051013 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }

    #znid-527724051013 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}



#znid-617514910631 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}

#znid-617514910631[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-617514910631[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-617514910631[data-background-type="color"] {
    background-color: ;
}

#znid-617514910631[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-617514910631 h3 {
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -0.2px;
    word-spacing: -2.2px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

#znid-617514910631[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-733982928793 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-733982928793[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-733982928793[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-733982928793[data-background-type="color"] {
    background-color: ;
}

#znid-733982928793[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-733982928793 .zn-icon,
#znid-733982928793 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: center;
}

#znid-733982928793 .zn-icon .material-icons-outlined {
    font-size: calc(36px + 8px);
    color: #333333;
    position: relative;
    top: -4px;
}

#znid-733982928793 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 36px;
    font-weight: normal;
    color: #333333;
}






#znid-912103873760 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-912103873760[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-912103873760[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-912103873760>.zn-element {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

#znid-912103873760>.zn-element>.zn-banner {
    box-sizing: border-box;
    background: url(https://img.gamewith.net/img/original_dcac9d2ff55d41e2b4fa16a2805c9c38.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    display: flex;
}

#znid-912103873760[data-effect="overlay"]>.zn-element>.zn-banner {
    background: linear-gradient(#33333380, #33333380), url(https://img.gamewith.net/img/original_dcac9d2ff55d41e2b4fa16a2805c9c38.jpg);
    background-size: cover;
    background-position: center center;
}

#znid-912103873760[data-effect="parallax"] .zn-banner {
    background-attachment: fixed;
}

#znid-912103873760[data-effect="none"]>.zn-element>.zn-banner {
    background-image: url(https://img.gamewith.net/img/original_dcac9d2ff55d41e2b4fa16a2805c9c38.jpg);
    background-attachment: initial;
}

#znid-912103873760>.zn-element>.zn-banner>.zn-children-container {
    flex-basis: 100%;
    padding: 180px 0px 80px 0px;
}


@media (max-width: 720px) {
    #znid-912103873760 {
        opacity: 1;
        margin: 16px 0px 0px 0px;
    }
}



#znid-615990987393 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}

#znid-615990987393[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-615990987393[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-615990987393[data-background-type="color"] {
    background-color: ;
}

#znid-615990987393[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-615990987393 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 20px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #FFFFFF;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

#znid-615990987393[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}









#znid-084703629143 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-084703629143[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-084703629143[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}

#znid-084703629143[data-background-type="color"] {
    background-color: ;
}

#znid-084703629143[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-084703629143[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#znid-084703629143[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}

#znid-084703629143>.zn-element {
    text-align: center;
}

#znid-084703629143>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

#znid-084703629143[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}

#znid-084703629143[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}

#znid-084703629143[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}

#znid-084703629143 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}

#znid-084703629143>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 36px;
}

#znid-084703629143 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}

#znid-084703629143 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}

#znid-084703629143 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}

#znid-084703629143 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}

#znid-084703629143 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}

#znid-084703629143 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}

#znid-084703629143 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}

#znid-084703629143[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 36px / 2);
    margin-right: 0;
    flex-grow: 0;
}

#znid-084703629143 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}

#znid-084703629143 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}

#znid-084703629143 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}

#znid-084703629143 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}

#znid-084703629143 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}

@media (min-width: 721px) and (max-width: 1025px) {
    #znid-084703629143 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-084703629143 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }

    #znid-084703629143 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }

    #znid-084703629143 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }

    #znid-084703629143 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }

    #znid-084703629143 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }

    #znid-084703629143 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }

    #znid-084703629143[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 36px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-084703629143 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }

    #znid-084703629143 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }

    #znid-084703629143 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }

    #znid-084703629143 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }

    #znid-084703629143 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}


@media (max-width: 720px) {
    #znid-084703629143 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-084703629143 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }

    #znid-084703629143 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }

    #znid-084703629143 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }

    #znid-084703629143 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }

    #znid-084703629143 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }

    #znid-084703629143 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }

    #znid-084703629143[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 36px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-084703629143 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }

    #znid-084703629143 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }

    #znid-084703629143 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }

    #znid-084703629143 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }

    #znid-084703629143 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}



#znid-197265239099 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}

#znid-197265239099[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-197265239099[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-197265239099[data-background-type="color"] {
    background-color: ;
}

#znid-197265239099[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-197265239099 h3 {
    margin: 0;
    padding: 54px 0px 0px 0px;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-197265239099[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-193391743990 {
    opacity: 1;
    margin: 32px 0px 0px 0px;
}

#znid-193391743990[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-193391743990[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}

#znid-193391743990[data-background-type="color"] {
    background-color: ;
}

#znid-193391743990[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-193391743990[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#znid-193391743990[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}

#znid-193391743990>.zn-element {
    text-align: center;
}

#znid-193391743990>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

#znid-193391743990[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}

#znid-193391743990[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}

#znid-193391743990[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}

#znid-193391743990 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}

#znid-193391743990>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 12px;
}

#znid-193391743990 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}

#znid-193391743990 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}

#znid-193391743990 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}

#znid-193391743990 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}

#znid-193391743990 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}

#znid-193391743990 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}

#znid-193391743990 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}

#znid-193391743990[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 12px / 2);
    margin-right: 0;
    flex-grow: 0;
}

#znid-193391743990 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}

#znid-193391743990 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}

#znid-193391743990 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}

#znid-193391743990 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}

#znid-193391743990 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}

@media (min-width: 721px) and (max-width: 1025px) {
    #znid-193391743990 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-193391743990 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }

    #znid-193391743990 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }

    #znid-193391743990 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }

    #znid-193391743990 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }

    #znid-193391743990 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }

    #znid-193391743990 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }

    #znid-193391743990[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-193391743990 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }

    #znid-193391743990 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }

    #znid-193391743990 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }

    #znid-193391743990 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }

    #znid-193391743990 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}


@media (max-width: 720px) {
    #znid-193391743990 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-193391743990 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }

    #znid-193391743990 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }

    #znid-193391743990 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }

    #znid-193391743990 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }

    #znid-193391743990 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }

    #znid-193391743990 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }

    #znid-193391743990[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-193391743990 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }

    #znid-193391743990 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }

    #znid-193391743990 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }

    #znid-193391743990 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }

    #znid-193391743990 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}



#znid-693534497720 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-693534497720[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-693534497720[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-693534497720[data-background-type="color"] {
    background-color: ;
}

#znid-693534497720[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-693534497720 .zn-icon,
#znid-693534497720 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: center;
}

#znid-693534497720 .zn-icon .material-icons-outlined {
    font-size: calc(32px + 8px);
    color: #9E9E9E;
    position: relative;
    top: -4px;
}

#znid-693534497720 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 32px;
    font-weight: normal;
    color: #333333;
}






#znid-374503184555 {
    margin: 8px 0px 8px 0px;
    opacity: 1;
}

#znid-374503184555[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-374503184555[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-374503184555[data-background-type="color"] {
    background-color: ;
}

#znid-374503184555[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-374503184555 h3 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-374503184555[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-601941216971 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-601941216971[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-601941216971[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-601941216971[data-background-type="color"] {
    background-color: ;
}

#znid-601941216971[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-601941216971 .zn-icon,
#znid-601941216971 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: center;
}

#znid-601941216971 .zn-icon .material-icons-outlined {
    font-size: calc(32px + 8px);
    color: #9E9E9E;
    position: relative;
    top: -4px;
}

#znid-601941216971 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 32px;
    font-weight: normal;
    color: #333333;
}


@media (max-width: 720px) {
    #znid-601941216971 {
        opacity: 1;
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}





#znid-778344013730 {
    margin: 8px 0px 8px 0px;
    opacity: 1;
}

#znid-778344013730[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-778344013730[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-778344013730[data-background-type="color"] {
    background-color: ;
}

#znid-778344013730[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-778344013730 h3 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-778344013730[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}








#znid-887955811410 {
    opacity: 1;
    margin: 32px 0px 0px 0px;
}

#znid-887955811410[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-887955811410[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}

#znid-887955811410[data-background-type="color"] {
    background-color: ;
}

#znid-887955811410[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-887955811410[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#znid-887955811410[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}

#znid-887955811410>.zn-element {
    text-align: center;
}

#znid-887955811410>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

#znid-887955811410[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}

#znid-887955811410[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}

#znid-887955811410[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}

#znid-887955811410 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}

#znid-887955811410>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 12px;
}

#znid-887955811410 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}

#znid-887955811410 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}

#znid-887955811410 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}

#znid-887955811410 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}

#znid-887955811410 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}

#znid-887955811410 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}

#znid-887955811410 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}

#znid-887955811410[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 12px / 2);
    margin-right: 0;
    flex-grow: 0;
}

#znid-887955811410 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}

#znid-887955811410 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}

#znid-887955811410 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}

#znid-887955811410 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}

#znid-887955811410 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}

@media (min-width: 721px) and (max-width: 1025px) {
    #znid-887955811410 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-887955811410 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }

    #znid-887955811410 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }

    #znid-887955811410 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }

    #znid-887955811410 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }

    #znid-887955811410 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }

    #znid-887955811410 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }

    #znid-887955811410[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-887955811410 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }

    #znid-887955811410 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }

    #znid-887955811410 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }

    #znid-887955811410 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }

    #znid-887955811410 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}


@media (max-width: 720px) {
    #znid-887955811410 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-887955811410 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }

    #znid-887955811410 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }

    #znid-887955811410 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }

    #znid-887955811410 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }

    #znid-887955811410 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }

    #znid-887955811410 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }

    #znid-887955811410[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-887955811410 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }

    #znid-887955811410 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }

    #znid-887955811410 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }

    #znid-887955811410 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }

    #znid-887955811410 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}



#znid-092650810067 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-092650810067[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-092650810067[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-092650810067[data-background-type="color"] {
    background-color: ;
}

#znid-092650810067[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-092650810067 .zn-icon,
#znid-092650810067 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: center;
}

#znid-092650810067 .zn-icon .material-icons-outlined {
    font-size: calc(32px + 8px);
    color: #9E9E9E;
    position: relative;
    top: -4px;
}

#znid-092650810067 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 32px;
    font-weight: normal;
    color: #333333;
}






#znid-710574302919 {
    margin: 8px 0px 8px 0px;
    opacity: 1;
}

#znid-710574302919[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-710574302919[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-710574302919[data-background-type="color"] {
    background-color: ;
}

#znid-710574302919[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-710574302919 h3 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-710574302919[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-281957316565 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-281957316565[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-281957316565[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-281957316565[data-background-type="color"] {
    background-color: ;
}

#znid-281957316565[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-281957316565 .zn-icon,
#znid-281957316565 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: center;
}

#znid-281957316565 .zn-icon .material-icons-outlined {
    font-size: calc(32px + 8px);
    color: #9E9E9E;
    position: relative;
    top: -4px;
}

#znid-281957316565 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 32px;
    font-weight: normal;
    color: #333333;
}


@media (max-width: 720px) {
    #znid-281957316565 {
        opacity: 1;
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}





#znid-256162966434 {
    margin: 8px 0px 8px 0px;
    opacity: 1;
}

#znid-256162966434[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-256162966434[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-256162966434[data-background-type="color"] {
    background-color: ;
}

#znid-256162966434[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-256162966434 h3 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-256162966434[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}









#znid-987570945075 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-987570945075[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-987570945075[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}

#znid-987570945075[data-background-type="color"] {
    background-color: ;
}

#znid-987570945075[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-987570945075[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#znid-987570945075[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}

#znid-987570945075>.zn-element {
    text-align: center;
}

#znid-987570945075>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

#znid-987570945075[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}

#znid-987570945075[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}

#znid-987570945075[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}

#znid-987570945075 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}

#znid-987570945075>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 32px;
}

#znid-987570945075 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}

#znid-987570945075 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}

#znid-987570945075 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}

#znid-987570945075 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}

#znid-987570945075 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}

#znid-987570945075 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}

#znid-987570945075 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}

#znid-987570945075[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 32px / 2);
    margin-right: 0;
    flex-grow: 0;
}

#znid-987570945075 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}

#znid-987570945075 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}

#znid-987570945075 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}

#znid-987570945075 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}

#znid-987570945075 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}

@media (min-width: 721px) and (max-width: 1025px) {
    #znid-987570945075 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-987570945075 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }

    #znid-987570945075 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }

    #znid-987570945075 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }

    #znid-987570945075 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }

    #znid-987570945075 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }

    #znid-987570945075 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }

    #znid-987570945075[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 32px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-987570945075 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }

    #znid-987570945075 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }

    #znid-987570945075 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }

    #znid-987570945075 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }

    #znid-987570945075 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}


@media (max-width: 720px) {
    #znid-987570945075 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }

    #znid-987570945075 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }

    #znid-987570945075 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }

    #znid-987570945075 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }

    #znid-987570945075 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }

    #znid-987570945075 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }

    #znid-987570945075 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }

    #znid-987570945075[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 32px / 2);
        margin-right: 0;
        flex-grow: 0;
    }

    #znid-987570945075 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }

    #znid-987570945075 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }

    #znid-987570945075 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }

    #znid-987570945075 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }

    #znid-987570945075 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}



#znid-121055412657 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}

#znid-121055412657[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-121055412657[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-121055412657[data-background-type="color"] {
    background-color: ;
}

#znid-121055412657[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-121055412657 h3 {
    margin: 0;
    padding: 20px 0px 0px 0px;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}

#znid-121055412657[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}






#znid-225152036254 {
    margin: 16px 0px 16px 0px;
    opacity: 1;
}

#znid-225152036254[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-225152036254[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-225152036254[data-background-type="color"] {
    background-color: ;
}

#znid-225152036254[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-225152036254 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #9E9E9E;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

#znid-225152036254[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}






#znid-989524400136 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#znid-989524400136[data-shadow-enable="true"] button {
    box-shadow: 5px 5px 5px #333333;
}

#znid-989524400136 .zn-button {
    text-align: center;
}

#znid-989524400136 .zn-button button {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 22px;
    font-weight: bolder;
    background-color: #00FF9B94;
    cursor: pointer;
    outline: none !important;
    border: none;
    width: auto;
    height: auto;
    white-space: normal;
    padding: 12px 24px 12px 24px;
    overflow: hidden;
}

#znid-989524400136 .zn-button button:hover {
    color: #333333;
    background-color: #ffffff;
}

#znid-989524400136[data-full-width="true"] .zn-button button {
    width: 100%;
}

#znid-989524400136[data-full-width="false"] .zn-button button {
    width: auto;
}

#znid-989524400136[data-border-enable="true"] .zn-button button {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}






#znid-782828359079 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#znid-782828359079[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}

#znid-782828359079[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}

#znid-782828359079[data-background-type="color"] {
    background-color: ;
}

#znid-782828359079[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#znid-782828359079 .zn-image {
    text-align: center;
    line-height: 0;
    overflow: hidden;
}

#znid-782828359079 .zn-image img {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

#znid-782828359079[data-filter="blur"] .zn-image img {
    filter: blur(5px);
}

#znid-782828359079[data-filter="grayscale"] .zn-image img {
    filter: grayscale(100%);
}

#znid-782828359079[data-filter="hue"] .zn-image img {
    filter: hue-rotate(90deg);
}

#znid-782828359079[data-filter="invert"] .zn-image img {
    filter: invert(100%);
}

#znid-782828359079[data-filter="sepia"] .zn-image img {
    filter: sepia(100%);
}

#znid-782828359079[data-filter="brightness"] .zn-image img {
    filter: brightness(100%);
}

#znid-782828359079[data-filter="contrast"] .zn-image img {
    filter: contrast(100%);
}

#znid-782828359079[data-filter="saturate"] .zn-image img {
    filter: saturate(100%);
}

#znid-782828359079[data-filter="none"] .zn-image img {
    filter: none;
}


@media (max-width: 720px) {
    #znid-782828359079 {
        opacity: 1;
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}











.zn-container {
    padding: 0px 0px 0px 0px;
    font-family: Roboto;
}

.zn-container a {
    color: #2196F3;
    text-decoration: none;
}

.zn-container a:hover {
    color: #2196F3CC;
    text-decoration: none;
}









.zn-announcement-bar {
    padding: 8px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.zn-announcement-bar.pad-right {
    padding-right: 48px;
}

.zn-announcement-bar .zn-announcement-message {
    font-family: inherit;
    color: #333333;
    font-size: 16px;
}

.zn-announcement-bar .zn-announcement-button {
    margin-left: 12px;
    flex-shrink: 0;
}

.zn-announcement-bar .zn-announcement-button button {
    font-size: 16px;
    padding: 8px 12px;
    font-family: inherit;
    color: #333333;
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.zn-announcement-bar .zn-annoucement-close {
    position: absolute;
    right: 16px;
    font-size: 24px;
    color: #333333;
    cursor: pointer;
}

.zn-announcement-bar .zn-annoucement-close:hover {
    opacity: 0.8;
}